img {
    width: 50px;
}

.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    grid-auto-flow: column
}
/* 
.item-1 {
    grid-column: 1;
    grid-row: 1 / 3;
}

.item-5 {
    grid-column: 5;
    grid-row: 1 / 3;
}

.item-3 {
    grid-column: 4;
    grid-row: 2 / 3;
} */

.item-1 {
    grid-column: 5;
    grid-row: 3;
}
